{# /template/pro_stages/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
	Page d'accueil ProStages
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block header %}
	<h1  align="center">ProStages</h1>
	<h2  align="center">Bienvenue sur la page d'accueil de Prostages !</h2>
{% endblock %}
		
{% block menu %}
	<p>
		Liste stages : Tous
	</p>
	<p>
		Filter les stages par : <a href="/formations" >Formations</a> / <a href="/entreprises" >Entreprises</a>
	</p>
{% endblock %}

{% block contenu %}
	<table border="1" align="center">
		<tr>
			<th>Titre du stage</th>
			<th>Entreprise</th>
		</tr>
		<tr align="center">
			<td><a href=''>Refonte interface Web</a></td>
			<td>Total</td>
		</tr>
		<tr align="center">
			<td><a href=''>Refonte interface mobile</a></td>
			<td>Leclerc</td>
		</tr>
		<tr align="center">
			<td><a href=''>Object connecté</a></td>
			<td>CapGemini</td>
		</tr>
	</table>
{% endblock %}
		
{% block footer %}
{% endblock %}
		
{% block javascript %}
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}

