{# /template/pro_stages/listeStages.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
	ProStages - Stage
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block header %}
	<h1  align="center">ProStages</h1>
{% endblock %}
		
{% block menu %}
{% endblock %}
		
{% block contenu %}
	Détails du stage "Titre du stage" :
	<table border="1" align="center">
		<tr>
			<th>Titre</th>
			<th>Nom</th>
			<th>Activité</th>
			<th>Adresse</th>
			<th>Missions</th>
			<th>Formations</th>
			<th>e-mail</th>			
		</tr>
		<tr align="center">
			<td>bla bla</td>
			<td>bla</td>
			<td>bla blabla blabla bla</td>
			<td>bla blabla bla</td>
			<td>bla bla<br/>bla bla</td>
			<td>bla bla</td>
			<td><a href="" >bla bla</a></td>
			
		</tr>
	</table>
{% endblock %}
		
{% block footer %}
{% endblock %}
		
{% block javascript %}
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
{% endblock %}
