{# /template/pro_stages/listeStages.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
	ProStages - Stage
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block header %}
	<h1  align="center">ProStages</h1>
{% endblock %}
		
{% block menu %}
{% endblock %}
		
{% block contenu %}
	Détails du stage :
	<table border="1" align="center">
		<tr>
			<th>Titre</th>
			<th>Nom</th>
			<th>Activité</th>
			<th>Adresse</th>
			<th>Missions</th>
			<th>Formations</th>
			<th>e-mail</th>			
		</tr>
		<tr align="center">
			<td>bla bla</td>
			<td>bla</td>
			<td>bla blabla blabla bla</td>
			<td>bla blabla bla</td>
			<td>bla bla<br/>bla bla</td>
			<td>bla bla</td>
			<td><a href="" >bla bla</a></td>
			
		</tr>
	</table>
{% endblock %}
		
{% block footer %}
{% endblock %}
		
{% block javascript %}
{% endblock %}

