{# /template/pro_stages/listeFormations.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
	ProStages - Formations
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block header %}
	<h1  align="center">ProStages</h1>
	<h2  align="center">Filter les stages par formation</h2>
{% endblock %}
		
{% block menu %}
{% endblock %}
		
{% block contenu %}
	<div class="container">
		<div class="row">      <!--style="padding-top: 20px; padding-bottom: 20px"-->
			<div class="col-md-4 col-sm-6 col-xs-12" align="center" style="padding-top: 20px; padding-bottom: 20px">
				<div class="card" style="width: 15rem;">
				  <div class="card-header" align="center">
					<a href="/">DU TIC</a>
				  </div>
				  <ul class="list-group list-group-flush">
					<li class="list-group-item">Diplôme Universitaire des Technologies de l'information et de la Communication</li>
				  </ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12" align="center" style="padding-top: 20px; padding-bottom: 20px">
				<div class="card" style="width: 15rem;">
				  <div class="card-header" align="center">
					<a href="/">DUT INFO</a>
				  </div>
				  <ul class="list-group list-group-flush">
					<li class="list-group-item">DUT informatique</li>
				  </ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12" align="center" style="padding-top: 20px; padding-bottom: 20px">
				<div class="card" style="width: 15rem;">
				  <div class="card-header" align="center">
					<a href="/">LP Multimédia</a>
				  </div>
				  <ul class="list-group list-group-flush">
					<li class="list-group-item">Licence Professionnelle Multimédia</li>
				  </ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
		
{% block footer %}
{% endblock %}
		
{% block javascript %}
{% endblock %}


