{# /template/pro_stages/listeEntreprises.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
	ProStages - Entreprises
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block header %}
	<h1  align="center">ProStages</h1>
	<h2  align="center">Filter les stages par entreprise</h2>
{% endblock %}
		
{% block menu %}
{% endblock %}
		
{% block contenu %}
	<p>
		Liste des entreprises :
		<ul>
			<li><a href="/">Total</li>
			<li><a href="/">CapGemini</li>
			<li><a href="/">Leclerc</li>
		</ul>
	</p>
{% endblock %}
		
{% block footer %}
{% endblock %}
		
{% block javascript %}
{% endblock %}



