{# /template/base.html.twig #}

<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Welcome !{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- BLOCK DES FEUILLES DE STYLE -->
		{% block stylesheets %}
		{% endblock %}
		
	</head>
	
	<body>
		<!-- BLOCK DU HEADER -->
		{% block header %}
		{% endblock %}
		
		<!-- BLOCK MENU -->
		{% block menu %}
		{% endblock %}
		
		<!-- BLOCK CONTENU -->
		{% block contenu %}
		{% endblock %}
		
		<!-- BLOCK PIED DE PAGE -->
		{% block footer %}
		{% endblock %}
		
		<!-- BLOCK JAVA SCRIPT -->
		{% block javascript %}
		{% endblock %}
		
	</body>
</html>